data/add-comment.bundle.json
{
    "zis_template_version": "2019-10-14",
    "name": "AddTicketComment",
    "description": "Add comment on Service Now.",
    "resources": {
        "UpdateServiceNowTicketAddComment": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateServiceNowTicketAddComment",
                "definition": {
                    "method": "PATCH",
                    "url": "https://achdev.service-now.com/api/now/table/{{$.endpoint}}/{{$.external_id}}",
                    "headers": [
                        {
                            "key": "Authorization",
                            "value": "{{SN_BA}}"
                        }
                    ],
                    "requestBody": {
                        "work_notes.$": "$.comment"
                    }
                }
            }
        },
        "UpdateZendeskCustomField": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateZendeskCustomField",
                "definition": {
                    "method": "PUT",
                    "url": "https://minkasupport.zendesk.com/api/v2/tickets/{{$.ticket_id}}",
                    "headers": [
                        {
                            "key": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "key": "Authorization",
                            "value": "{{ZD_BA}}"
                        }
                    ],
                    "requestBody": {
                        "ticket": {
                            "custom_fields": [
                                {
                                    "id": "22412711821211",
                                    "value": false
                                }
                            ]
                        }
                    }
                }
            }
        },
        "UpdateTicketAddCommentFlow": {
            "type": "ZIS::Flow",
            "properties": {
                "name": "UpdateTicketAddCommentFlow",
                "definition": {
                    "StartAt": "InitialCheck",
                    "States": {
                        "InitialCheck": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.tags",
                                            "IsPresent": true
                                        },
                                        {
                                            "Variable": "$.input.ticket_event.ticket.external_id",
                                            "IsPresent": true
                                        }
                                    ],
                                    "Next": "TagsPresent"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "TagsPresent": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.tags",
                                "expr": "index(\"service-now-update\") != null"
                            },
                            "ResultPath": "$.isServiceNowUpdate",
                            "Next": "CheckTicketType"
                        },
                        "CheckTicketType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250003915931
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateTask"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250005165595
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateRequirement"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 5863488158747
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateProblem"
                                },
                                {
                                    "Variable": "$.isServiceNowUpdate",
                                    "BooleanEquals": true,
                                    "Next": "UpdateCustomFieldOnZendesk"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "UpdateTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAddComment",
                            "Parameters": {
                                "endpoint": "sc_task",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "comment.$": "$.input.ticket_event.comment.body"
                            },
                            "End": true
                        },
                        "UpdateRequirement": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAddComment",
                            "Parameters": {
                                "endpoint": "sc_req_item",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "comment.$": "$.input.ticket_event.comment.body"
                            },
                            "End": true
                        },
                        "UpdateProblem": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAddComment",
                            "Parameters": {
                                "endpoint": "problem",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "comment.$": "$.input.ticket_event.comment.body"
                            },
                            "End": true
                        },
                        "UpdateCustomFieldOnZendesk": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateZendeskCustomField",
                            "Parameters": {
                                "ticket_id.$": "$.input.ticket_event.ticket.id"
                            },
                            "End": true
                        },
                        "Finish": {
                            "Type": "Succeed"
                        }
                    }
                }
            }
        },
        "UpdateTicketAddCommentSpec": {
            "type": "ZIS::JobSpec",
            "properties": {
                "name": "UpdateTicketAddCommentSpec",
                "event_source": "support",
                "event_type": "ticket.CommentAdded",
                "flow_name": "zis:service-now-dev:flow:UpdateTicketAddCommentFlow"
            }
        }
    }
}
