data/attach-file.budle.json
{
    "zis_template_version": "2019-10-14",
    "name": "UpdateTicketComment",
    "description": "Sync ticket on Service Now, attach file.",
    "resources": {
        "UpdateServiceNowTicketAttachFile": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateServiceNowTicketAttachFile",
                "definition": {
                    "method": "POST",
                    "url": "https://a95b-177-222-98-250.ngrok-free.app/api/service-now/attachment/file",
                    "headers": [
                        {
                            "key": "Content-Type",
                            "value": "multipart/form-data"
                        },
                        {
                            "key": "Accept",
                            "value": "application/json"
                        }
                    ],
                    "queryParams": [
                        {
                            "key": "table_name",
                            "value": "$.endpoint"
                        },
                        {
                            "key": "table_sys_id",
                            "value": "$.external_id"
                        },
                        {
                            "key": "file_name",
                            "value": "$.filename"
                        }
                    ],
                    "requestBody": {
                        "file.$": "$.content_url"
                    }
                }
            }
        },
        "UpdateTicketAttachFileFlow": {
            "type": "ZIS::Flow",
            "properties": {
                "name": "UpdateTicketAttachFileFlow",
                "definition": {
                    "StartAt": "CheckTicketType",
                    "States": {
                        "CheckTicketType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.input.ticket_event.ticket.form_id",
                                    "NumericEquals": 6250003915931,
                                    "Next": "UpdateTask"
                                },
                                {
                                    "Variable": "$.input.ticket_event.ticket.form_id",
                                    "NumericEquals": 6250005165595,
                                    "Next": "UpdateRequirement"
                                },
                                {
                                    "Variable": "$.input.ticket_event.ticket.form_id",
                                    "NumericEquals": 5863488158747,
                                    "Next": "UpdateProblem"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "UpdateTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "sc_task",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "UpdateRequirement": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "sc_req_item",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "UpdateProblem": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "problem",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "Finish": {
                            "Type": "Succeed"
                        }
                    }
                }
            }
        },
        "UpdateTicketAttachFileSpec": {
            "type": "ZIS::JobSpec",
            "properties": {
                "name": "UpdateTicketAttachFileSpec",
                "event_source": "support",
                "event_type": "ticket.AttachmentLinkedToComment",
                "flow_name": "zis:service-now-dev:flow:UpdateTicketAttachFileFlow"
            }
        }
    }
}
