data/attach-file.budle.json
{
    "zis_template_version": "2019-10-14",
    "name": "AddTicketAttachment",
    "description": "Add ticket attachment on Service Now.",
    "resources": {
        "UpdateServiceNowTicketAttachFile": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateServiceNowTicketAttachFile",
                "definition": {
                    "method": "POST",
                    "url": "https://achdev.service-now.com/api/now/attachment/file",
                    "headers": [
                        {
                            "key": "Content-Type",
                            "value": "multipart/form-data"
                        },
                        {
                            "key": "Accept",
                            "value": "application/json"
                        },
                        {
                            "key": "Authorization",
                            "value": "{{SN_BA}}"
                        }
                    ],
                    "queryParams": [
                        {
                            "key": "table_name",
                            "value": "$.endpoint"
                        },
                        {
                            "key": "table_sys_id",
                            "value": "$.external_id"
                        },
                        {
                            "key": "file_name",
                            "value": "$.filename"
                        }
                    ],
                    "requestBody": {
                        "file.$": "$.content_url"
                    }
                }
            }
        },
        "UpdateZendeskCustomField": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateZendeskCustomField",
                "definition": {
                    "method": "PUT",
                    "url": "https://minkasupport.zendesk.com/api/v2/tickets/{{$.ticket_id}}",
                    "headers": [
                        {
                            "key": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "key": "Authorization",
                            "value": "{{ZD_BA}}"
                        }
                    ],
                    "requestBody": {
                        "ticket": {
                            "custom_fields": [
                                {
                                    "id": "22412711821211",
                                    "value": false
                                }
                            ]
                        }
                    }
                }
            }
        },
        "AddTicketAttachmentFlow": {
            "type": "ZIS::Flow",
            "properties": {
                "name": "AddTicketAttachmentFlow",
                "definition": {
                    "StartAt": "InitialCheck",
                    "States": {
                        "InitialCheck": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.tags",
                                            "IsPresent": true
                                        },
                                        {
                                            "Variable": "$.input.ticket_event.ticket.external_id",
                                            "IsPresent": true
                                        }
                                    ],
                                    "Next": "TagsPresent"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "TagsPresent": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.tags",
                                "expr": "index(\"service-now-update\") != null"
                            },
                            "ResultPath": "$.isServiceNowUpdate",
                            "Next": "CheckTicketType"
                        },
                        "CheckTicketType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250003915931
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateTask"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250005165595
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateRequirement"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 5863488158747
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "UpdateProblem"
                                },
                                {
                                    "Variable": "$.isServiceNowUpdate",
                                    "BooleanEquals": true,
                                    "Next": "UpdateCustomFieldOnZendesk"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "UpdateTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "sc_task",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "UpdateRequirement": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "sc_req_item",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "UpdateProblem": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicketAttachFile",
                            "Parameters": {
                                "endpoint": "problem",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "content_url.$": "$.input.ticket_event.attachment.content_url",
                                "content_type.$": "$.input.ticket_event.attachment.content_type",
                                "filename.$": "$.input.ticket_event.attachment.filename"
                            },
                            "End": true
                        },
                        "UpdateCustomFieldOnZendesk": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateZendeskCustomField",
                            "Parameters": {
                                "ticket_id.$": "$.input.ticket_event.ticket.id"
                            },
                            "End": true
                        },
                        "Finish": {
                            "Type": "Succeed"
                        }
                    }
                }
            }
        },
        "UpdateTicketAttachFileSpec": {
            "type": "ZIS::JobSpec",
            "properties": {
                "name": "UpdateTicketAttachFileSpec",
                "event_source": "support",
                "event_type": "ticket.AttachmentLinkedToComment",
                "flow_name": "zis:service-now-dev:flow:AddTicketAttachmentFlow"
            }
        }
    }
}
