data/bundle.json
{
    "zis_template_version": "2019-10-14",
    "name": "UpdateTicketSync",
    "description": "Sync ticket update on Service Now.",
    "resources": {
        "updateServiceNowTicket": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateServiceNowTicket",
                "definition": {
                    "method": "PATCH",
                    "url": "https://1791-177-222-98-244.ngrok-free.app/api/service-now/sc_task/1",
                    "requestBody": {
                        "state.$": "$.state"
                    }
                }
            }
        },
        "UpdateTicketFlow": {
            "type": "ZIS::Flow",
            "properties": {
                "name": "UpdateTicketFlow",
                "definition": {
                    "StartAt": "CheckTicketType",
                    "States": {
                        "CheckTicketType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.input.ticket_event.ticket.priority",
                                    "StringEquals": "normal",
                                    "Next": "mapStates"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "mapStates": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.status",
                                "expr": ". as $status | if $status == \"on-hold\" then -5 elif $status == \"open\" then 1 elif $status == \"pending\" then 2 elif $status == \"solved\" then 7 else $status end"
                            },
                            "ResultPath": "$.mapped_state",
                            "Next": "updateTask"
                        },
                        "updateTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicket",
                            "Parameters": {
                                "state.$": "$.mapped_state"
                            },
                            "End": true
                        },
                        "Finish": {
                            "Type": "Succeed"
                        }
                    }
                }
            }
        },
        "UpdateTicketSpec": {
            "type": "ZIS::JobSpec",
            "properties": {
                "name": "UpdateTicketSpec",
                "event_source": "support",
                "event_type": "ticket.StatusChanged",
                "flow_name": "zis:service-now-dev:flow:UpdateTicketFlow"
            }
        }
    }
}
