data/update-status.bundle.json
{
    "zis_template_version": "2019-10-14",
    "name": "UpdateTicketStatus",
    "description": "Update ticket status on Service Now.",
    "resources": {
        "UpdateServiceNowTicket": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateServiceNowTicket",
                "definition": {
                    "method": "PATCH",
                    "url": "https://achprd.service-now.com/api/now/table/{{$.endpoint}}/{{$.external_id}}",
                    "headers": [
                        {
                            "key": "Authorization",
                            "value": "{{SN_BA}}"
                        }
                    ],
                    "requestBody": {
                        "state.$": "$.state"
                    }
                }
            }
        },
        "UpdateZendeskCustomField": {
            "type": "ZIS::Action::Http",
            "properties": {
                "name": "updateZendeskCustomField",
                "definition": {
                    "method": "PUT",
                    "url": "https://minkasupport.zendesk.com/api/v2/tickets/{{$.ticket_id}}",
                    "headers": [
                        {
                            "key": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "key": "Authorization",
                            "value": "{{ZD_BA}}"
                        }
                    ],
                    "requestBody": {
                        "ticket": {
                            "custom_fields": [
                                {
                                    "id": "22412711821211",
                                    "value": false
                                }
                            ]
                        }
                    }
                }
            }
        },
        "UpdateTicketStatusFlow": {
            "type": "ZIS::Flow",
            "properties": {
                "name": "UpdateTicketStatusFlow",
                "definition": {
                    "StartAt": "InitialCheck",
                    "States": {
                        "InitialCheck": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.tags",
                                            "IsPresent": true
                                        },
                                        {
                                            "Variable": "$.input.ticket_event.ticket.external_id",
                                            "IsPresent": true
                                        }
                                    ],
                                    "Next": "TagsPresent"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "TagsPresent": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.tags",
                                "expr": "index(\"service-now-update\") != null"
                            },
                            "ResultPath": "$.isServiceNowUpdate",
                            "Next": "CheckTicketType"
                        },
                        "CheckTicketType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250003915931
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "MapUpdateTaskStates"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 22946909984155
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "MapUpdateIncidentTaskStates"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 6250005165595
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "MapUpdateRequirementStates"
                                },
                                {
                                    "And": [
                                        {
                                            "Variable": "$.input.ticket_event.ticket.form_id",
                                            "NumericEquals": 5863488158747
                                        },
                                        {
                                            "Variable": "$.isServiceNowUpdate",
                                            "BooleanEquals": false
                                        }
                                    ],
                                    "Next": "MapUpdateProblemStates"
                                },
                                {
                                    "Variable": "$.isServiceNowUpdate",
                                    "BooleanEquals": true,
                                    "Next": "UpdateCustomFieldOnZendesk"
                                }
                            ],
                            "Default": "Finish"
                        },
                        "MapUpdateTaskStates": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.status",
                                "expr": ". as $status | if $status == \"hold\" then 1 elif $status == \"open\" then 2 elif $status == \"pending\" then -5 elif $status == \"solved\" then 6 else $status end"
                            },
                            "ResultPath": "$.mapped_state",
                            "Next": "UpdateTask"
                        },
                        "UpdateTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicket",
                            "Parameters": {
                                "endpoint": "sc_task",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "state.$": "$.mapped_state"
                            },
                            "End": true
                        },
                        "MapUpdateIncidentTaskStates": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.status",
                                "expr": ". as $status | if $status == \"hold\" then 401 elif $status == \"open\" then 2 elif $status == \"pending\" then -5 elif $status == \"solved\" then 6 else $status end"
                            },
                            "ResultPath": "$.mapped_state",
                            "Next": "UpdateIncidentTask"
                        },
                        "UpdateIncidentTask": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicket",
                            "Parameters": {
                                "endpoint": "incident_task",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "state.$": "$.mapped_state"
                            },
                            "End": true
                        },
                        "MapUpdateRequirementStates": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.status",
                                "expr": ". as $status | if $status == \"hold\" then 1 elif $status == \"open\" then 2 elif $status == \"pending\" then -5 elif $status == \"solved\" then 7 else $status end"
                            },
                            "ResultPath": "$.mapped_state",
                            "Next": "UpdateRequirement"
                        },
                        "UpdateRequirement": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicket",
                            "Parameters": {
                                "endpoint": "sc_req_item",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "state.$": "$.mapped_state"
                            },
                            "End": true
                        },
                        "MapUpdateProblemStates": {
                            "Type": "Action",
                            "ActionName": "zis:common:transform:Jq",
                            "Parameters": {
                                "data.$": "$.input.ticket_event.ticket.status",
                                "expr": ". as $status | if $status == \"hold\" then 1 elif $status == \"open\" then 102 elif $status == \"pending\" then 103 elif $status == \"solved\" then 106 else $status end"
                            },
                            "ResultPath": "$.mapped_state",
                            "Next": "UpdateProblem"
                        },
                        "UpdateProblem": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateServiceNowTicket",
                            "Parameters": {
                                "endpoint": "problem",
                                "external_id.$": "$.input.ticket_event.ticket.external_id",
                                "state.$": "$.mapped_state"
                            },
                            "End": true
                        },
                        "UpdateCustomFieldOnZendesk": {
                            "Type": "Action",
                            "ActionName": "zis:service-now-dev:action:updateZendeskCustomField",
                            "Parameters": {
                                "ticket_id.$": "$.input.ticket_event.ticket.id"
                            },
                            "End": true
                        },
                        "Finish": {
                            "Type": "Succeed"
                        }
                    }
                }
            }
        },
        "UpdateTicketStatusSpec": {
            "type": "ZIS::JobSpec",
            "properties": {
                "name": "UpdateTicketStatusSpec",
                "event_source": "support",
                "event_type": "ticket.StatusChanged",
                "flow_name": "zis:service-now-dev:flow:UpdateTicketStatusFlow"
            }
        }
    }
}
